.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  position: relative;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}
.header__block {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__block-left {
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.header__block-name {
  color: #d3573c;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.box__btn {
  position: absolute;
  align-self: center;
}
.city {
  color: #901c1c;
  font-size: 1.5rem;
  font-weight: bold;
}
.tagline {
  color: #525252;
  font-size: 1.2rem;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.header__block-right img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
/* encard */
.like-price {
  background: #db8876;
  position: fixed;
  bottom: 0;
  right: 2rem;
  height: 3.5rem;
  width: 17.5rem;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  display: inline-flex;
  justify-content: center;
  padding: 0 2rem;
  align-items: center;
  gap: 50px;
}
/* conteneur des medias & formulaire */
.media_content {
  margin: 6.2rem 0 2rem 0;
  padding: 0 3rem;
}
/* formulaire de tri */
.form-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-label {
  font-weight: 700;
  font-size: 18px;
  display: block;
}
.form-select {
  display: block;
  background: #901c1c;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 2rem;
  outline: none;
}

option.form-options {
  position: relative;
  min-height: 2rem;
  text-decoration: underline;
  border: 5px solid #fff;
  padding: 1rem 1rem;
}

/* box des medias */
.media-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
}
article.media-box {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
}
.card_media--img img {
  border-radius: 5px;
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.card_media--vid {
  border-radius: 5px;
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.card_media--title {
  color: #901c1c;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 400;
  width: 350px;
}
.card_media--title > span {
  width: 5rem;
  display: inline-block;
  text-align: center;
}

/* Modale */
#contact_modal {
  display: none;
  background-color: #c4c4c466;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 4rem auto;
  box-shadow: 0 4px 14px 1px #312e2e;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
