.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  position: relative;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}
.header__block {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__block-left {
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.header__block-name {
  color: #d3573c;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.box__btn {
  position: absolute;
  align-self: center;
}
.city {
  color: #901c1c;
  font-size: 1.5rem;
  font-weight: bold;
}
.tagline {
  color: #525252;
  font-size: 1.2rem;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover,
.contact_button:focus {
  color: #312e2e;
  background: #d3573c;
}
.header__block-right img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
/* encard */
.like-price {
  background: #db8876;
  position: fixed;
  bottom: 0;
  right: 2rem;
  height: 3.5rem;
  width: 17.5rem;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  display: inline-flex;
  justify-content: center;
  padding: 0 2rem;
  align-items: center;
  gap: 50px;
}
/* conteneur des medias & formulaire */
.media_content {
  margin: 6.2rem 0 3.6rem 0;
  padding: 0 3rem;
}
/* formulaire de tri */
.form-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-label {
  font-weight: 700;
  font-size: 18px;
  display: block;
}
.form-select {
  display: block;
  background: #901c1c;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 2rem;
  outline: none;
}
.form-select:hover,
.form-select:focus {
  color: #312e2e;
  background: #d3573c;
}

option.form-options {
  position: relative;
  min-height: 2rem;
  text-decoration: underline;
  border: 5px solid #fff;
  padding: 1rem 1rem;
}

/* box des medias */
.media-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
article.media-box {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
}
.card_media-container {
  cursor: pointer;
}
.card_media--img img {
  border-radius: 5px;
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.card_media--vid {
  border-radius: 5px;
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.card_media--title {
  color: #901c1c;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 400;
  width: 350px;
}
.card_media--title > span {
  width: 5rem;
  display: inline-block;
  text-align: center;
}

/* Modale de Formulaire*/
#contact_modal {
  display: none;
  background-color: #c4c4c466;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal {
  align-items: center;
  background-color: #db8876;
  border-radius: 5px;
  box-shadow: 0 4px 14px 1px #312e2e;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 4rem auto;
  padding: 90px 40px 70px 40px;
  position: relative;
  width: 50%;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
}

.modal header h2 span {
  text-align: left;
  margin-bottom: 2rem;
}

form {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}
button.contact_modal-close {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}
button.contact_modal-close:focus {
  border: 5px solid #901c1c;
}

form label {
  color: #312e2e;
  font-size: 36px;
  text-align: left;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: calc(36px / 1.3);
  padding: 1rem;
}
form {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 10rem;
  font-size: calc(36px / 1.3);
}
form button.contact_button:disabled {
  background: #db8876;
  border: 2px solid black;
}
.form-inputs {
  display: flex;
  width: 90%;
  justify-content: center;
}
.form__error {
  display: none;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.form__error.visible {
  display: block;
  color: red;
  background: #fff;
}
/* lightbox */
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 10;
  overflow: auto;
}
.lightbox-btn {
  background: none;
  border: none;
  color: #901c1c;
  font-size: 42px;
  border: none;
  cursor: pointer;
  position: fixed;
  z-index: 11;
}

.lightbox-btn.close {
  top: 2rem;
  right: 2rem;
  z-index: 12;
}
.lightbox-btn.right {
  height: 75%;
  right: 2rem;
}
.lightbox-btn.left {
  height: 75%;
  left: 2rem;
}
.lightbox-btn.left:hover,
.lightbox-btn.right:hover,
.lightbox-btn.close:hover {
  transform: scale(1.3);
}
.ligthbox__container-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.ligthbox__container-img .card_media--img {
  margin: 0 6rem;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.ligthbox__container-img img {
  object-fit: cover;
  width: auto;
  height: 100%;
}
.ligthbox__container-img video {
  width: 80%;
  height: auto;
}
.lightbox__title {
  color: #901c1c;
  margin-top: 1rem;
  font-size: 1.5rem;
}
